<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>



        <record id="id_sale_order_line_action" model="ir.actions.act_window">
            <field name="name">id_sale_order_line_action</field>
            <field name="res_model">sale.order.line</field>
            <field name="view_mode">tree,form</field>
        </record>

        <menuitem id="id_menu_order_line" name="Order Lines" sequence="4" parent="sale.sale_order_menu"/>


    </data>
</odoo>